<!-- INICIO DO CONTEUDO -->
<section class="content-header">
</section>
<section class="content">
  <div class="jumbotron">
    <h2>Pedido Conluído #{{ cart.id }}</h2>
    <p>Você comprou essas máscaras:</p>
    <div *ngFor="let product of cart.products">
      {{ product.product.name }}
    </div>

    <h2>O valor total foi: {{ cart.value }} </h2>
    <p>Pórem, não deu tempo de fazer a tela com as formas de pagamento,
    sendo assim, elas saíram de graça pra você, volte sempre!</p>
  </div>

</section>
<!-- FIM DO CONTEUDO -->
